*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #F6F8F9;
    font-family: 'Open Sans', sans-serif;
}

header{
    height: auto;
    background-color: white;
}


header img {
    height: 100px;
    padding: 20px;
    vertical-align: middle;
    
}

#logo-text{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

.main-container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    height: 750px;
    background-color: white;
    border-radius: 5px;
}


.container1{
    height: 70px;
    background-color: white;
    border-bottom: 1px solid lightgray
    
}

#button-task {
    border: none;
    width: 80px;
    height: 30px;
    margin: 20px 80px;
    background-color: #47ADF1;
    border-radius: 5px;
    color: white;
}

#button-section {
    border: 1px solid lightgrey;
    width: 100px;
    height: 30px;
    margin: -80px;
    background-color: white;
    border-radius: 5px;
    color: grey;
}

.list-container{
    padding: 40px 80px;
}

.list-newtask{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    
}

.list-newtask::before{
    content: '\25BE';
}

.list-quarterly, .list-recruiting, .list-applaunch, .list-interview, .list-summit,
.list-meeting, .list-homepage, .list-onboard, .list-review{
    list-style: none;
    font-size: 18px;   
}

.list-quarterly::before{
    content: '\2713';
    color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 50px;
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
    
}


.list-recruiting::before{
    content: '\2713';
    color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 50px;
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.button-editorial{
    border: none;
    background-color: #47ADF1;
    width: 70px;
    height: 25px;
    border-radius: 15px;
    color: white;

}


.button-applaunch{
    border: none;
    background-color: #9C72E4;
    width: 70px;
    height: 25px;
    border-radius: 15px;
    color: white;

}

.list-applaunch::before{
    content: '\2713';
    color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 50px;
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}


.button-interview{
    border: none;
    background-color: #64C0A9;
    width: 70px;
    height: 25px;
    border-radius: 15px;
    color: white;

}

.list-interview::before{
    content: '\2716';
    color: #ED6B65;
    border: 1px solid #ED6B65;
    border-radius: 50px;
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}


.button-summit{
    border: none;
    background-color: #F29E33;
    width: 70px;
    height: 25px;
    border-radius: 15px;
    color: white;
}

.list-summit::before{
    content: '\2713';
    color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 50px;
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}


.list-meeting::before{
    content: '\2716';
    color: #ED6B65;
    border: 1px solid #ED6B65;
    border-radius: 50px;
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}


.button-website{
    border: none;
    background-color: #D863A1;
    width: 70px;
    height: 25px;
    border-radius: 15px;
    color: white;
}

.list-homepage::before{
    content: '\2713';
    color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 50px;
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.button-onboard{
    border: none;
    background-color: #94A824;
    width: 70px;
    height: 25px;
    border-radius: 15px;
    color: white;
}

.list-onboard::before{
    content: '\2713';
    color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 50px;
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}


.list-review::before{
    content: '\2713';
    color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 50px;
    display: inline-block;
    padding: 0px 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

    

    

